<h3 class="text-center"><%= @change.name %></h3>



<div class="row">
	<div class="span6 intro-box text-center" id="<%= @change.id %>">
		<div class="change_wrapper">
			<p class="mutted"><%= @change.description %></p>
  
				  <p><%=  link_to "up", vote_change_path(@change, value: 1), "data-original-title" => "You must be logged in to vote",  method: "post", remote: true, class: vote_users %></p>
				   <p id="total_votes"><%=  @change.new_total_votes %></p>
				  <p><%=  link_to "down", vote_change_path(@change, value: -1), "data-original-title" => "You must be logged in to vote",  method: "post", remote: true, class: vote_users  %></p>

  

			<p><%= link_to "Created By: #{@change.user.username}", user_path(@change.user_id) if @change.user %>
			<p><%= image_tag @change.picture_url(:large) if @change.picture.url %></p>

	
		
			<% @change.categories.each do |cat| %>
			<div class="glyphicon glyphicon-star-empty"></div> <%=link_to cat.name.upcase, category_path(cat.id) %>
		<% end %>
		</div>
	</div>
</div>