<div class="row">
	<div class="col-md-6">
	<%= form_for @change, :html => {:role => "form", multipart: true} do |t| %>
	<%= render "shared/error_messages", :target => @change %>
	<div class="form-group">
		<%= t.label :name %>
		<%= t.text_field :name, class: "form-control", autofocus: true, required: true %>
	</div>
	<div class="form-group">
		<%= t.label :description %>
		<%= t.text_area :description, class: "form-control" %>
	</div>
	<div class="form-group btn-file">
	 <%= t.file_field :picture %>
	</div>

<h3>Topics</h3>
	<% for category in @categories -%>
	 <div class="checkbox checkbox-inline">
		<%# label_tag(category.name) %>
		<p><%= check_box_tag(category.name) %> <%= category.name %></p>
	</div>
	<% end %>

	<p><%= t.submit class: "btn btn-default"%></p>
	<% end %>
</div>
	<div class="col-md-6">
		<h3 class="text-center">Preview</h3>
		<h2><div id="name"></div></h2>
		<div id="description"></div>

	</div>
</div>

<!-- upload an image -->

