<div class="row change_wrapper">
	<div class="col-md-6 text-center">
		<!-- <div class="change_wrapper"> -->
			<%= form_for @change, :html => {:role => "form", multipart: true} do |t| %>
			<%= render "shared/error_messages", :target => @change %>
			<div class="form-group">
				<%= t.label :name %>
				<%= t.text_field :name, placeholder: "this is your title", class: "form-control", autofocus: true, required: true %>
			</div>
			<div class="form-group">
				<%= t.label :description %>
				<%= t.text_area :description, placeholder: "tell us about your opinions", class: "form-control", required: true %>
			</div>
			<div class="form-group btn btn-file">
			 <%= t.file_field :picture, required: true %>
			</div>
			<h3>Select a Category</h3>
			<% @categories.each do |cat| %>
				<%= check_box_tag("change[category_id][]", cat.name) %> <%= cat.name %>
			<% end %>
<br />
<br />


	<h3>All finished? </h3>
		<p><%= t.submit "Create Opinion", class: "btn btn-default"%></p>
		<% end %>
	</div>

		<div class="col-md-6 text-center">
			<h4><div id="name">This is Your Title</div></h4>
			<div id="description">Tell us about your opinions...</div>

			<img id="blah" src="#" class="thumb" alt="your image here" />
			<div id="category"></div>
	</div>
</div>
