<div class="row">
	<div class=" text-center"
	<p><%= link_to "Created by: #{@change.user.username}", user_path(@change.user.id) if current_user %></p>
	<h2>Name: <%= @change.name %></h2>
	<p>Description: <%= @change.description %></p>
	<p class="voted"><%= link_to 'upvote', votes_path(vote: {upvote: true, change_id: @change.id} ), :method => :post, remote: true  %> |
	<%= link_to 'downvote', votes_path(vote: { upvote: false, change_id: @change.id} ), :method => :post, remote: true %></p>
	<p class="votes">Total Votes: <%= @aggregate_votes %></p>

	<!-- <p><button>Follow Topic</button></p> -->
	<%= image_tag @change.picture_url(:large) %>
  </div>
</div>

<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="box_count"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="kvanderd">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>