<%= title "#{@change.name}" %>



<%= render "changes/change" %>

<%= render "changes/repersenatives_holder" %>

<h2 class="page-header text-center">Join the Discussion</h2>
	<%= render "comments/form" %>

<div id="comments">
	<%= render @change.comments %>
</div>


<div id="added_comments"></div>