<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= form_for @user, :html => {:role => "form"} do |t| %>
		 <%= render "shared/error_messages", :target => @user %>
		   <div class="form-group">
				<%= t.label :username %>
				<%= t.text_field :username, class: "form-control", required: true %>
			</div>
			<div class="form-group">
			<%= t.label :state %> : <a data-toggle="tooltip" data-placement="top" title="Provides Contacts for Congress">why?</a> 
			 <%= text_field_tag :search, params[:search], size: 30, class: "form-control", required: true, placeholder: "Search By State" %>
			</div>
			<div class="form-group">
			<%= t.label :password %>
			 <%= t.password_field :password, class: "form-control", required: true %>
			</div>
			<div class="form-group">
			 <%= t.label :confirm_password %>
			 <%= t.password_field :password_confirmation, class: "form-control", required: true %>
			</div>
			<br />
			<%= t.submit class: "btn btn-default" %>
		<% end %>
	</div>
</div>

