<!DOCTYPE html>
<html>
<head>
  <title>Viper Voter - Voting Smarter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/navigation" %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
