<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Opinionator - My Opinions Matter " %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'star.ico' %>
</head>
<body>
	<%= render "layouts/navigation" %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

	<div class="container">
		<%= yield %>
	</div>
 

   
<footer>
 <%= render "layouts/footer" %>
</footer>
</body>
</html>
